@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Viga&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eee;
}

h1 {
  @apply text-2xl font-normal;
}

h2 {
  @apply text-xl font-normal;
}

p {
  @apply text-sm font-light;
}

.Center {
  @apply max-w-[800px] grow p-5;
}

.PrimaryBtn {
  @apply bg-[#5542F6] py-2 px-5 rounded-sm;
}

.PrimarySmallBtn {
  @apply transition-colors bg-transparent border border-[#455b70] text-[#455b70] font-bold py-1 px-2 rounded-md text-sm;
}

.PrimarySmallBtn:hover {
  @apply bg-[#455b70] text-white;
}

.PrimarySmallBtnBlack {
  @apply transition-colors bg-black border text-white font-normal py-2 px-2 rounded-md;
}

.PrimarySmallBtnBlack:hover {
  @apply bg-white text-black;
}

.DefaultBtn {
  @apply bg-white text-black py-2 px-5 rounded-sm;
}

.DefaultSmallBtn {
  @apply text-black p-2 rounded-sm;
}

.OutlineBtn {
  @apply bg-transparent text-white border border-white py-2 px-5 rounded-sm;
}

.StyledTable {
  width: 100%;
}

.StyledTable th {
  text-align: left;
  text-transform: uppercase;
  color: #ccc;
  font-weight: 600;
  font-size: 0.7rem;
}

.StyledTable td {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* This styles are used for Successfully component animation */
.success-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  background: transparent;
}

.success-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  background-color: #07a954;
  clip-path: circle(0%);
  transform: translate(-50%, -50%);
  animation: expand-circle 1s ease-in-out forwards;
}

.success-message {
  color: white;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fade-in 0.5s ease-in-out 1s forwards;
}

/* Animación para expandir el círculo */
@keyframes expand-circle {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(100%);
  }
}

/* Animación para el mensaje */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
