@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eee;
}

h1 {
  @apply text-5xl font-normal;
}

h2 {
  @apply text-2xl font-normal;
}

p {
  @apply text-sm font-light;
}

.Center {
  @apply max-w-[800px] grow p-5;
}

.PrimaryBtn {
  @apply bg-[#5542F6] py-2 px-5 rounded-sm;
}

.PrimarySmallBtn {
  @apply transition-colors bg-transparent border border-[#455b70] text-[#455b70] font-bold py-1 px-2 rounded-md text-sm;
}

.PrimarySmallBtn:hover {
  @apply bg-[#455b70] text-white;
}

.PrimarySmallBtnBlack {
  @apply transition-colors bg-black border text-white font-normal py-1 px-2 rounded-md text-sm;
}

.PrimarySmallBtnBlack:hover {
  @apply bg-white text-black;
}

.DefaultBtn {
  @apply bg-white text-black py-2 px-5 rounded-sm;
}

.OutlineBtn {
  @apply bg-transparent text-white border border-white py-2 px-5 rounded-sm;
}

.StyledTable {
  width: 100%;
}

.StyledTable th {
  text-align: left;
  text-transform: uppercase;
  color: #ccc;
  font-weight: 600;
  font-size: 0.7rem;
}

.StyledTable td {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
